# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.dll
*.pyd
*.o
*.obj
*.lib

# Distribution / packaging
/build/
/develop-eggs/
/dist/
/eggs/
/.eggs/
/sdist/
/wheels/
/share/python-wheels/
/*.egg-info/
/.installed.cfg
/*.egg
/MANIFEST

# Installer logs
/pip-log.txt
/pip-delete-this-directory.txt

# Unit test / coverage reports
/.tox/
/.nox/
/.coverage
/.coverage.*
/.cache
/coverage.xml
/.pytest_cache/
/cover/

# Sphinx documentation
/docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
/profile_default/
/ipython_config.py

# IDE settings
/.spyderproject
/.spyproject
/.vscode
/.idea
/.pydev
/.pydevproject
.DS_Store
Thumbs.db

# mypy
/.mypy_cache/
/.dmypy.json
/dmypy.json
